<div class="g-adv-body-headline">
    {% if block.settings.title != blank %}
    <h2>{{ block.settings.title }}</h2>
    {% endif %}

    {% if block.settings.subtitle != blank %}
      <p>{{ block.settings.subtitle }}</p>
    {% endif %}
</div>