@font-face {
  font-family: "Season Sans";
  src: url("SeasonSansTRIAL-Light.woff2") format("woff2"), url("SeasonSansTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Sans";
  src: url("SeasonSansTRIAL-Regular.woff2") format("woff2"), url("SeasonSansTRIAL-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Sans";
  src: url("SeasonSansTRIAL-Medium.woff2") format("woff2"), url("SeasonSansTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Sans";
  src: url("SeasonSansTRIAL-SemiBold.woff2") format("woff2"), url("SeasonSansTRIAL-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Mix";
  src: url("SeasonMixTRIAL-Light.woff2") format("woff2"), url("SeasonMixTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Mix";
  src: url("SeasonMixTRIAL-Regular.woff2") format("woff2"), url("SeasonMixTRIAL-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Season Mix";
  src: url("SeasonMixTRIAL-Medium.woff2") format("woff2"), url("SeasonMixTRIAL-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --py: #30231A;
  --sy: #DDD9CF;
  --it: #3F3124;
  --white: #fff;
  --heading-font-size: 45px;
  --font-heading-family: "Season Mix", sans-serif !important;
  --font-body-family: "Season Sans", sans-serif !important;
  --section-spacing: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.img-res {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  text-transform: uppercase;
  transition: all 0.3s;
  font-weight: 500;
}

.button:hover {
  background: #A85F4E;
}

.button:before,
.button:after {
  display: none;
}

.header {
  background: transparent !important;
}

.section-header.shopify-section-group-header-group {
  z-index: 100;
}

body.template-index .header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  background: transparent;
}

.scrolled-past-header .header-wrapper {
  background: var(--sy) !important;
}

.header-wrapper {
  transition: all 0.5s;
}

body.template-index .section-header:not(.scrolled-past-header) .header__menu-item,
body.template-index .section-header:not(.scrolled-past-header) .header__icon .icon {
  color: var(--sy);
}

.list-menu__item {
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 990px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header--middle-left .header__inline-menu {
    margin-left: auto;
  }
}
h2 {
  font-size: var(--heading-font-size);
  font-weight: 300;
}

.hero__wrapper {
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  min-height: 95vh;
}

.hero__content {
  margin-bottom: 130px;
}

.hero__content h1 {
  margin: 0;
  font-size: 44px;
  color: var(--white);
  font-weight: 400;
}

.hero__content h4 {
  font-size: 24px;
  margin: 15px 0 0;
  color: var(--white);
  font-weight: 300;
  font-family: "Season Sans";
}

.hero__shape {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
}

.hero__shape img {
  max-width: 35px;
}

.rooted {
  padding: var(--section-spacing) 0;
  text-align: center;
  text-align: center;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ten-badge {
  position: fixed;
  width: 120px;
  bottom: 34px;
  left: 30px;
  z-index: 9999;
}

.rooted__content {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.rooted__content h2 {
  margin: 0 0 30px;
  color: var(--it);
}

.rooted__content .button {
  width: 100%;
  padding: 17px;
  max-width: 350px;
}

.banners__wrapper {
  text-align: center;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.banners__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.banners__link:before {
  width: 100%;
  content: "";
  height: 100%;
  background: #cab086;
  position: absolute;
  opacity: 0;
  transition: 0.2s all;
}

.banners__link:hover:before {
  opacity: 0.2;
}

.banners__content h2 {
  margin: 0;
  color: var(--white);
  font-size: 32px;
}

.banners__content .button {
  width: 100%;
  max-width: 350px;
  margin: 0px auto 0;
}

.our-story {
  background: linear-gradient(180deg, #D3C6B3 0%, #DDD9CF 100%);
  padding: 200px 0 var(--section-spacing);
  text-align: center;
  position: relative;
}

.our-story:before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  left: -500px;
  bottom: 0;
  background-image: url(shape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.our-story__wrapper {
  position: relative;
  z-index: 1;
}

.our-story__content * {
  margin: 0;
}

.our-story__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto 50px;
}

.our-story__content h2 {
  font-weight: 400;
  margin: 0 auto;
}

.our-story__content h4 {
  font-size: 22px;
  font-weight: 500;
}

.our-story__content .rte {
  max-width: 700px;
  margin: 10px auto 0;
}

.our-story__content p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.our-story__image {
  max-width: 670px;
  margin: 0 auto;
}

.our-story__image img {
  width: 100%;
  border-radius: 15px;
}

.oieb {
  text-align: center;
  padding-bottom: var(--section-spacing);
  position: relative;
  z-index: 1;
}

.oieb__title {
  margin: 0 0 50px;
}

.ist {
  padding-bottom: var(--section-spacing);
  position: relative;
}

.ist__wrapper {
  position: relative;
  z-index: 1;
}

.g-pdp-header--title .price {
  font-size: 14px;
  padding-left: 10px;
  font-weight: 400;
}

.ist:before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  right: -400px;
  bottom: -200px;
  background-image: url(shape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ist__content-block {
  height: 100%;
  min-height: 440px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  padding: 30px;
}

.ist__content-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--py);
  opacity: 0.8;
  transition: all 0.8s;
}

.ist__content {
  position: relative;
  z-index: 1;
  color: var(--sy);
}

.ist__title {
  margin: 0;
  font-size: 40px;
  color: var(--sy);
  font-family: var(--font-heading-family);
  font-weight: 400;
}

.ist__rte {
  font-size: 20px;
}

.ist__link {
  text-decoration: none;
  color: var(--sy);
  font-size: 24px;
  font-family: var(--font-heading-family);
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}

.ist__content-block:hover:before {
  opacity: 0.1;
}

.testimonials {
  padding: var(--section-spacing) 0 0;
  position: relative;
  z-index: 10;
}

.oieb__item img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.oieb__item-title {
  margin: 10px 0;
  font-weight: 500;
}

.oieb__item-content {
  margin: 0;
  color: var(--py);
}

.ist__carousel img {
  width: 100%;
}

.ist__carousel {
  border-radius: 13px;
  overflow: hidden;
  line-height: 1;
}

.ist__carousel * {
  line-height: 0;
}

.ist__link-arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  top: 2px;
  line-height: 0;
}

.ist__link-arrow:before {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background: var(--sy);
  transition: all 0.5s;
}

.ist__content-block:hover .ist__link-arrow:before {
  width: 15px;
}

.testimonials__content {
  text-align: center;
  margin-bottom: 50px;
}

.testimonials__title {
  margin: 0;
}

.testimonials__text {
  font-size: 24px;
  font-weight: 300;
  margin: 10px 0 0;
}

.testimonial__item {
  background: #FBFBFB;
  color: var(--py);
  padding: 35px;
  border-radius: 20px;
}

.testimonial__image img {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.testimonial__review {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.testimonial__name {
  margin: 0;
  font-size: 20px;
}

.testimonial__position {
  font-size: 20px;
  margin: 0;
  font-style: italic;
  font-family: var(--font-heading-family);
  font-weight: 300;
  line-height: 1.2;
}

.testimonial__content {
  padding-top: 50px;
  max-width: 520px;
}

.testimonial__rating {
  line-height: 0;
}

.testimonials__shape {
  margin-bottom: -150px;
  margin-top: var(--section-spacing);
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.testimonials__carousel .swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}

.testimonials__shape img {
  max-width: 50px;
}

.g-cart-upsells {
  display: none;
}

.testimonials__carousel .swiper-slide {
  overflow: visible;
}

.testimonials__carousel .swiper-button-prev:after,
.testimonials__carousel .swiper-button-next:after {
  display: none;
}

.testimonials__carousel .swiper-button-prev svg,
.testimonials__carousel .swiper-button-next svg {
  width: 100%;
}

.testimonials__carousel .swiper-button-prev,
.testimonials__carousel .swiper-button-next {
  width: 100px;
  background: transparent;
}

.testimonials__carousel .swiper-button-prev,
.testimonials__carousel .swiper-rtl .swiper-button-next {
  left: -110px;
}

.testimonials__carousel .swiper-button-next,
.testimonials__carousel .swiper-rtl .swiper-button-prev {
  right: -110px;
}

.testimonials__carousel .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.testimonials__carousel .swiper-slide {
  opacity: 0.4;
  transition: all 0.5s;
}

.testimonials__carousel .swiper-pagination-fraction {
  display: none;
}

.radiant-steps {
  padding: var(--section-spacing) 0;
  text-align: center;
}

.footer {
  padding: 60px 0;
  text-align: center;
  background: #7E3823;
  color: var(--sy);
  position: relative;
  overflow: hidden;
}

.footer:before {
  content: "";
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: -600px;
  background-image: url(shape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 1;
  opacity: 0.3;
}

.footer__about {
  max-width: 400px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.3;
  font-family: var(--font-heading-family);
}

.footer__social svg {
  width: 32px !important;
  height: 32px !important;
}

.footer__list-social {
  justify-content: center !important;
  color: #fff;
}

.footer__list-social .list-social__link {
  color: var(--sy);
  z-index: 99999;
  position: relative;
}

.footer__bottom {
  margin-top: 50px;
}

.footer__bottom p {
  margin: 0;
}

.radiant-steps__title {
  margin: 0 0 50px;
}

.radiant-steps__item-image img {
  border-radius: 13px;
  width: 100%;
  height: auto;
}

.radiant-steps__item-step {
  margin: 20px 0 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.radiant-steps__item-title {
  font-size: 40px;
  margin: 10px 0 0;
}

.radiant-steps__item-text {
  margin: 20px auto 0;
  font-size: 16px;
  max-width: 320px;
}

.prd-faqs {
  padding: var(--section-spacing) 0;
}

.prd-faqs__wrapper {
  background: #3F3124;
  color: var(--sy);
  padding: 30px;
  border-radius: 20px;
}

.prd-faqs__title {
  color: var(--sy);
  margin: 0 0 30px;
}

.prd-faqs__question {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
  color: var(--sy);
  cursor: pointer;
}

.prd-faqs__answer {
  display: none;
}

.prd-faqs__item {
  padding: 20px 0;
  border-bottom: 1px solid var(--sy);
}

.prd-faqs__question-icon {
  transition: all 0.5s;
}

.prd-faqs__item.active .prd-faqs__question-icon {
  transform: rotate(45deg);
}

.template-product .testimonials__shape {
  display: none;
}

.template-product .testimonials {
  padding-bottom: var(--section-spacing);
}

.template-product .oieb {
  padding-top: var(--section-spacing);
}

.template-product .oieb::before {
  content: "";
  position: absolute;
  top: -600px;
  left: 100px;
  right: 100px;
  bottom: -100px;
  background-image: url(shape.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.g-pdp-description {
  font-size: 17px;
}

.header__heading-logo--light {
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
  opacity: 0;
}

.template-index .section-header:not(.scrolled-past-header) .header__heading-logo--light {
  opacity: 1;
}

.g-cart-checkout {
  background: #7E3823 !important;
  border-radius: 3px !important;
  padding: 19px !important;
}

.g-cart-checkout:hover {
  background: #A85F4E !important;
}

.oieb__wrapper {
  position: relative;
  z-index: 10;
}

.g-pdp-methods .grid__item .g-pdp-method-content-icon:nth-child(2) {
  font-weight: 500;
}

#shopify-section-template--18557180051654__banners_RcMyRg .banners__wrapper,
.shopify-section-template--18557179592902__banners_JdTTBt .banners__wrapper {
  min-height: 700px;
}

.g-pdp-thumbnails .swiper-slide img {
  height: 112px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.g-cic--subsave {
  display: none !important;
}

.switch {
  display: none !important;
}

span.g-pdp-plan-text {
  font-size: 14px !important;
  text-transform: uppercase !important;
  position: relative;
  top: 1px;
}

span.g-pdp-pricing-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .ist__wrapper .grid__item:first-child {
    width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .ist__wrapper .grid__item:last-child {
    width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
  }
}
@media screen and (max-width: 767px) {
  .g-pdp-thumbnails .swiper-slide img {
    height: 56px !important;
  }
  html {
    overflow-x: hidden;
  }
  :root {
    --heading-font-size: 35px;
  }
  .product-form__buttons .button span, .product-form__buttons .button .g-pdp-sale {
    font-size: 15px !important;
  }
  .product-form__buttons .button .g-pdp-plan-text {
    font-size: 12px !important;
  }
  .menu-drawer__menu-item--active {
    color: var(--sy);
  }
  .hero__wrapper {
    min-height: 600px;
  }
  .hero__content h1 {
    font-size: 32px;
  }
  .hero__shape {
    bottom: -20px;
  }
  .hero__shape img {
    width: 30px;
  }
  .hero__content {
    margin-bottom: 100px;
  }
  .ist__carousel img {
    height: 400px;
  }
  .ist__title {
    font-size: 30px;
  }
  .ist__link {
    font-size: 20px;
  }
  .ist__rte {
    font-size: 18px;
  }
  .rooted__content {
    max-width: 300px;
    margin-top: 50px;
  }
  .oieb__item-title {
    font-size: 18px;
    margin: 5px 0;
  }
  .oieb__item-content {
    font-size: 14px;
  }
  .oieb__title {
    max-width: 300px;
    margin: 0 auto 50px;
  }
  .banners__content h2 {
    font-size: 24px;
  }
  .testimonials__text {
    font-size: 18px;
  }
  .our-story__content p {
    font-size: 15px;
  }
  .our-story__content h4 {
    font-size: 20px;
  }
  .our-story__content {
    gap: 10px;
  }
  .testimonial__review {
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 202px;
  }
  .testimonial__content {
    padding-top: 0;
  }
  .testimonial__position {
    font-size: 16px;
    display: inline;
    margin-left: 10px;
  }
  .testimonial__name {
    font-size: 16px;
    display: inline-block;
  }
  .testimonials__carousel .swiper-pagination-fraction {
    bottom: 20px;
    right: 20px;
  }
  .testimonials__carousel {
    max-width: 310px;
    margin: 0 auto;
  }
  .testimonials__carousel .swiper-button-prev,
  .testimonials__carousel .swiper-button-next {
    width: 45px;
  }
  .testimonials__carousel .swiper-button-next,
  .testimonials__carousel .swiper-rtl .swiper-button-prev {
    right: -50px;
  }
  .testimonials__carousel .swiper-button-prev,
  .testimonials__carousel .swiper-rtl .swiper-button-next {
    left: -50px;
  }
  .page-width {
    padding: 0 2rem;
  }
  .header {
    padding: 8px 2rem 8px 2rem !important;
  }
  .footer__logo img {
    max-width: 150px;
    margin: 0 auto;
  }
  .oieb__item-content {
    font-size: 14px;
  }
  .footer__about {
    font-size: 20px;
    line-height: 1.5;
  }
  .header.header--middle-left {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .header__heading {
    order: 1;
  }
  .header__icons {
    order: 2;
    margin-left: auto;
  }
  header-drawer {
    order: 3;
  }
  .header__search {
    display: none;
  }
  .header__heading,
  .header__heading-link {
    text-align: left;
  }
  .menu-drawer {
    background: #7E3823;
  }
  .shopify-section-header-sticky.menu-open .header,
  .menu-drawer {
    background: #7e3824 !important;
  }
  .js details[open] > .menu-drawer,
  .js details[open] > .menu-drawer__submenu {
    transition: all 0s !important;
  }
  .list-menu__item {
    justify-content: center;
    font-size: 35px !important;
    text-transform: capitalize;
    color: var(--sy);
    font-family: var(--font-heading-family);
    font-weight: 500;
  }
  .shopify-section-header-sticky.menu-open .header__heading-logo {
    opacity: 1;
  }
  .shopify-section-header-sticky.menu-open path {
    fill: var(--sy);
  }
  .radiant-steps__item {
    display: flex;
    text-align: left;
    gap: 15px;
    flex-wrap: wrap;
  }
  .radiant-steps__item-image {
    width: 34%;
  }
  .radiant-steps__item-content {
    width: 60%;
  }
  .radiant-steps__item-step {
    margin-top: 0;
    font-size: 12px;
  }
  .radiant-steps__item-title {
    font-size: 26px;
    line-height: 1;
  }
  .radiant-steps__item-text {
    font-size: 15px;
    margin: 10px 0;
    line-height: 1.2;
  }
  .banners__wrapper {
    min-height: 350px !important;
  }
  .prd-faqs__block .grid {
    --grid-mobile-vertical-spacing: 0;
  }
  header-drawer {
    margin-right: -1.2rem;
  }
}
@media screen and (max-width: 360px) {
  :root {
    --section-spacing: 70px;
  }
  .page-width {
    padding: 0 2rem;
  }
  .hero__shape {
    bottom: -20px;
  }
  .oieb__item-content {
    font-size: 13px;
  }
  .oieb__item-title {
    font-size: 16px;
  }
  .testimonials__carousel {
    max-width: 300px;
  }
  .testimonial__item {
    padding: 20px;
  }
  .testimonials__carousel .swiper-button-next,
  .testimonials__carousel .swiper-rtl .swiper-button-prev {
    right: -20px;
  }
  .testimonials__carousel .swiper-button-prev,
  .testimonials__carousel .swiper-rtl .swiper-button-next {
    left: -20px;
  }
}